<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controllers.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <display-name>Servidor-Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfertaServlet</display-name>
    <servlet-name>OfertaServlet</servlet-name>
    <servlet-class>controllers.OfertaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfertaServlet</servlet-name>
    <url-pattern>/OfertaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostulacionServlet</display-name>
    <servlet-name>PostulacionServlet</servlet-name>
    <servlet-class>controllers.PostulacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostulacionServlet</servlet-name>
    <url-pattern>/PostulacionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaPaquetes</display-name>
    <servlet-name>ConsultaPaquetes</servlet-name>
    <servlet-class>controllers.ConsultaPaquetes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaPaquetes</servlet-name>
    <url-pattern>/ConsultaPaquetes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaqueteServlet</display-name>
    <servlet-name>PaqueteServlet</servlet-name>
    <servlet-class>controllers.PaqueteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaqueteServlet</servlet-name>
    <url-pattern>/PaqueteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfilSerlvlet</display-name>
    <servlet-name>PerfilSerlvlet</servlet-name>
    <servlet-class>controllers.PerfilSerlvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilSerlvlet</servlet-name>
    <url-pattern>/PerfilSerlvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaTipoPostulacionServlet</display-name>
    <servlet-name>ConsultaTipoPostulacionServlet</servlet-name>
    <servlet-class>controllers.ConsultaTipoPostulacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaTipoPostulacionServlet</servlet-name>
    <url-pattern>/ConsultaTipoPostulacionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TipoPostulacionServlet</display-name>
    <servlet-name>TipoPostulacionServlet</servlet-name>
    <servlet-class>controllers.TipoPostulacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipoPostulacionServlet</servlet-name>
    <url-pattern>/TipoPostulacionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaUsuariosServlet</display-name>
    <servlet-name>ConsultaUsuariosServlet</servlet-name>
    <servlet-class>controllers.ConsultaUsuariosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaUsuariosServlet</servlet-name>
    <url-pattern>/ConsultaUsuariosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaUsuario</display-name>
    <servlet-name>AltaUsuario</servlet-name>
    <servlet-class>controllers.AltaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaUsuario</servlet-name>
    <url-pattern>/AltaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaOfertaServlet</display-name>
    <servlet-name>AltaOfertaServlet</servlet-name>
    <servlet-class>controllers.AltaOfertaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaOfertaServlet</servlet-name>
    <url-pattern>/AltaOfertaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarDatosServlet</display-name>
    <servlet-name>ModificarDatosServlet</servlet-name>
    <servlet-class>controllers.ModificarDatosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarDatosServlet</servlet-name>
    <url-pattern>/ModificarDatosServlet</url-pattern>
  </servlet-mapping>
</web-app>