.paquetesConsulta {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 1.35rem;
    background-color: #fff;
    border: 0.0675 solid #ccc;
    border-radius: 0.3375rem;
    box-shadow: 0rem 0rem 0.675rem rgba(0, 0, 0, 0.2);
}

/* Estilos para el centro*/
.mainCenter {
    max-height: 51.3rem;
    max-width: 54rem;
    margin: 0 auto;
    width: 54rem;
    display: flex;
}

.h5 {
    height: auto;
    width: auto;
    text-align: center;
}

.espacio {
    margin-top: 1.35rem;
}

.espacio3 {
    margin-top: 5rem;
}

.card {
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
}

.textoCard {
    text-align: left;
}