.oferta p {
    width: 50%;
    padding: 0.675rem;
}

.table {
    border-color: #000;
}

.consultaTipoPublicacion {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paqueteTipoPublicacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 0.675rem;
}

.paqueteTipoPublicacion a {
    background-color: rgb(58, 73, 214);
    text-decoration: none;
    color: #fff;
    padding: 0.675rem 1.35rem;
}

.paqueteTipoPublicacion a:hover {
    background-color: #333;
}


.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 6.75rem);

}

.formLogin {
    max-width: 40.5rem;
}

.camposForm {
    margin-bottom: 1.0125;
}
