body {
  background-color: #fafafa;
}
.header-right a {
  color: #ffffff;
}

.menu {
  text-align: center;
  padding: 0.675rem;
  margin: 0.675rem;
}

nav {
  background-color: rgb(58, 73, 214);
}


footer {
  height: 4.875rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(58, 73, 214);
  font-size: 1.485rem;
  padding: 2.025rem;
  color: white;
}

.tablaKeyword {
  height: 22rem;
}

.cabezaTabla {
  position: sticky;
  top: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 54rem;
  margin: 0 auto;
  padding: 1.35rem;
  background-color: white;
  border: 0.0675rem solid #ccc;
  border-radius: 0.3375rem;
  box-shadow: 0px 0px 0.675rem rgba(0, 0, 0, 0.2);
}

.btn .btn-secondary {
  background-color: rgb(58, 73, 214);
  border: #000 solid 0.0675rem;
}

.volverPaquete {
  position: absolute;
  top: 12%;
}

.login {
  background-color: #40576d;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}

.formLogin {
  max-width: 475px;
  margin: 0 auto;
  background-color: #a1a0a0;
  padding: 30px;
  border-radius: 10px;
}

.imgPerfil {
  width: 60px;
}

.selectUsuario {
  padding: 0.5px;
}

.fotoDePerfil {
  width: 250px;
}



