* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-right a {
    color: #ffffff;
}

.menu {
    text-align: center;
    padding: 0.675rem;
    margin: 0.675rem;
}

header,
footer {
    background-color: rgb(58, 73, 214);
    font-size: 1.485rem;
    padding: 2.025rem;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.75rem;
}

.footer {
    height: 4.875rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    float: left;
    text-transform: uppercase;
    text-shadow: 0 0 0.3375rem #000;
    font-weight: bold;
    color: white;
}

.logo span {
    color: #333;
    text-shadow: 0 0 0.3375rem #ccc;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.025rem;
}

.keywords {
    text-align: center;
    padding: 0.675rem;
    margin: 0.675rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 16.875rem;
    max-width: 54rem;
    margin: 0 auto;
    padding: 1.35rem;
    background-color: white;
    border: 0.0675rem solid #ccc;
    border-radius: 0.3375rem;
    box-shadow: 0px 0px 0.675rem rgba(0, 0, 0, 0.2);
}

.dropbtn {
    background-color: rgb(58, 73, 214);
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem;
    padding-right: 2rem;
    position: relative;
    width: 14.85rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(58, 73, 214);
    min-width: 10rem;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    height: 2.025rem;
}

.opcionDropMenu {
    width: 14.85rem;
    height: 3.0375rem;
}

.dropdown-content a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    font-weight: bold;
}

.dropbtn::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 0.675rem;
    transform: translateY(-50%);
    font-weight: bold;
}

.btn.btn-secondary {
    background-color: rgb(58, 73, 214);
    border: #000 solid 0.0675rem;

}

@media screen and (max-width: 51.84rem) {
    header {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .header-center {
        margin-top: 1rem;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .main-left,
    .main-center,
    .main-right {
        width: 100%;
        text-align: center;
    }

    .dropdown {
        text-align: center;
    }
}