.oferta p {
    width: 50%;
    padding: 10px;
}

.table {
    border-color: #000;
}

.ofertaslaborales {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.oferta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 10px;
}

.oferta a {
    background-color: rgb(58, 73, 214);
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.oferta a:hover {
    background-color: #333;
}

.imgOfertas {
    width: auto;
    height: 200px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);

}

.formLogin {
    max-width: 600px;
}

.camposForm {
    margin-bottom: 15px;
}
